.img{
    width:200px; 
    height:140px;
    padding-right: 25px;
}
.icon{
    width:25px; 
    height:25px;
    vertical-align: middle;
}
.iconNumber{
   display:inline-block;
   margin-left:10px;
   margin-right:10px;
}
.left{ 
    float:left; 
    width:70%;
}
.right{ 
    float:right;
    margin-top: 5px; 
}
.content{ 
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
}
